@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');  /*Importa la fuente "Poppins"*/

:root{  /*Colores*/
    --cyan: hsl( 199, 92%, 85% );
    --text-light-blue: hsl( 205, 87%, 94%);
    --text-light-gray: hsl(0, 0%, 90%);
    --glass-bg-color: hsl(200, 54%, 12%);
    --border-color: hsla(0, 0%, 100%, 0.25);
    --blur: blur(35px);
    --button-over-color: hsla(0, 0%, 0%, 0.3);
}

*{
    margin: 0; /*Sin margen*/
    padding: 0; /*No hay espacio entre el contenido del elemento y su borde*/       
    box-sizing: border-box;
}

body{
    background-image: url("../img/fondo.png");  /*Establece una imagen de fondo*/
    height: auto;   /*Alto automatico*/
    width: auto;    /*Ancho automatico*/
    left: 0;        /* 0 Margen izquierdo*/
    top: 0;         /*0 Margen Superior*/
    background-position: center; /*Posicion de la imagen centrada*/
    background-size: cover; /*Tamaño de la imagen de fondo : cubierto*/
    font-family: 'Poppins', sans-serif; /*Fuente de la letra*/
    font-weight: 300; /*300 Intensidad de la fuente */
    font-size: 16px;  /*16 px Tamaño de la fuente*/
    line-height: 1.5; /*1.5 Separacion entre lineas*/
    overflow-x: hidden; /*Oculta todos los elementos que se salen de la caja de texto*/
    color: aliceblue; /*Define como color principal el aliceblue*/
    min-height: 100vh; /*100vh Alto minimo*/
}

a{
    text-decoration: none;  /*Ninguna decoracion de texto*/
    font-weight: 500; /*Intensidad de la fuente*/
    display: inline-block; /*Elementos del bloque separados por lineas*/
}

.gradient-text{
    background: linear-gradient(to right,hsl(204,70%,63%), hsl(168,76%,42%) ); /*Color del fondo del texto*/
    -webkit-background-clip: text;
    background-clip: text; /*Permite que una imagen de fondo sea recortada por un elemento de texto*/
    color: transparent; /*Hace el color más transparente*/
}
.form-main{
    min-height: 100vh;  /*Ancho minimo 100vh*/
    padding: 60px 15px; /*Espacio entre el contenido del elemento y su borde*/    
    display: flex;  /*Pestaña Flexible*/
    align-items: center; /*Centra  todos los elementos*/
    justify-content: center;
}

.form-content{
    width: 100%;    /*100% Ancho*/
    max-width: 450px;   /*Alto maximo 450px*/
    position: relative; /*Nueva posición del elemento en relación con su posición normal*/
    z-index: 1;     /*Imagen principal*/
}

.form-content .box{
    border-color: var(--glass-bg-color);    /*Color del borde*/
    border: 1px solid var(--border-color);  /*Atributos del borde de la caja*/
    padding: 40px 50px;     /*Espacio entre el contenido del elemento y su borde*/
    border-radius: 20px;        /*20px Radio del borde*/
    backdrop-filter: var(--blur);  /*Filtro de desenfoque a la parte de atras*/
}

.form-content h3{
    font-size: 28px;    /*28px Tamaño de la fuente*/
    text-align: center; /*Centra el texto*/
    line-height: 1.2;    /*1.2 Separacion entre lineas*/
    color: hsl(0, 0%, 100%); /*Color "Técnica Chacabuco N°6"*/
    font-weight: 500;   /*500 Intensidad de la fuente*/
}

.form-content form{
    margin: 25px 0 20px;    /*Margen general de 25px o 20px*/
}

.form-content .input-box{
    margin: 25px;   /*Margen general de 25px*/
}
.form-content ::placeholder{
    color: hsl(184,6%,81%); /*Color de "contraseña" e "email"*/
    opacity: 1; /*Transparencia 1*/
}

.form-content .input-control{
    display: block; /*Caja de bloques*/
    height: 45px;   /*Alto*/
    width: 100%;    /*Ancho*/
    background-color: transparent;  /*Color transparente*/
    border: var(--text-light-gray); /*Color del borde*/
    border-bottom: 1px solid var(--border-color);   /*Borde 1px*/
    color: inherit;     /*Color de la fuente*/
    font-weight: inherit;   /*Intensidad de la fuente*/
    font-family: inherit;   /*Fuente*/
    font-size: 16px;    /*16px Tamaño de la fuente*/
}
.form-content .input-control:focus{
    outline: none; /*Ningun contorno*/
}
.form-content .input-link{
    margin-top: 10px;   /*10px para el margen superior*/
    text-align: right;  /*Alinea el texto hacia la derecha*/
}
.form-content .btn{
    height: 45px;   /*45px Alto*/
    width: 100%;    /*100% Ancho*/
    font-size: 16px;    /*Tamaño de la fuente*/
    font-weight: 500;   /*Intensidad de la fuente*/
    text-transform: capitalize; /*Controla la escritura mayúsculas de un texto.*/
    font-family: inherit;   /*Fuente*/
    cursor: pointer;    /*Estilo de cursos*/
    border-radius: 25px;    /*25px Radio del borde*/
    user-select: none; /*El usuario no puede seleccionar el texto*/
    background: var(--cyan);    /*Color del fondo*/
    border: none;   /*Sin borde*/
    color:rgb(0, 0, 0); /*Color de "Iniciar Sesion"*/
    position: relative;     /*Nueva posición del elemento en relación con su posición normal*/
    z-index: 1;
    overflow: hidden; /*Oculta todos los elementos que se salen de la caja de texto*/
}

.form-content .btn::before{
    content: ''; /*Contenido*/
    position: absolute; /*Posiciona la cabecera a 100% del borde superior en forma absoluta.*/
    left: 0;        /*0 Margen izquierdo*/
    top: 0;         /*0 Margen superior*/
    height: 100%;   /*100% Alto*/
    width: 100%;    /*100% Ancho*/
    transition: background-color 0.5s ease; /*Transicion*/
    z-index: -1;
}
.form-content .btn:hover::before{
    background-color: var(--button-over-color); /*Color de fondo*/
}

.form-content p{
    text-align: center; /*Centra el texto*/
    color: hsl(184, 6%, 81%); /*Color de parrafo "¿No tienes una cuenta?"*/
}

@media(max-width: 575px){ /*Ancho maximo de 575px*/
    body::after,
    body::before{
        height: 250px;  /*Alto*/
        width: 250px;   /*Ancho*/
        filter: blur(100px);    /*Filtro borroso 100px*/
    }
    .form-content .box{
        padding: 30px; /*Espacio entre el contenido del elemento y su borde*/    

    }
    .form-content h3{
        font-size: 24px;    /*Tamaño de la fuente*/
    }
}